#menu {
    display: inline-block;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
    margin-right: 20px;
}


/* Sử dụng cho menu */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*background: #F8C800;
    */
    background-color: transparent;
    font-weight: 700;
}

li {
    float: left;
    /*border-right: 1px solid white;
    */
    text-transform: uppercase;
    padding-right: 0.5rem;
    transition: all 2s ease-in-out;
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -ms-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
}

li.dropdown {
    display: inline-block;
}

li a:hover,
.dropdown:hover {
    background: #f5ed28;
}

li a,
.dropdown-btn {
    display: inline-block;
    color: #333;
    text-align: center;
    padding: 0 7px;
    text-decoration: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: #f5ed28;
    z-index: 1;
    line-height: 2;
    border: none;
    /* transition: all .3s ease-in-out; */
    text-transform: none;
    padding-right: 0.5rem;
    min-width: 227px;
}

.dropdown-content a {
    color: #333;
    padding: 3px 16px;
    display: block;
    text-align: left;
    background-color: transparent;
    border: 0!important;
    padding-left: 1.5rem;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.dropdown-content a:hover {
    /* background-color: #ffc600; */
    background-image: linear-gradient(to right, #ffc600, #F8C800, #f5ed28);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.item {
    text-align: left;
    padding-left: 10px;
    font-weight: bolder;
}

.item-symbol {
    font-size: 7px;
    position: relative;
    top: -3px;
}